<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="text" name="ethernetid" placeholder="ethernet id"><br>
        <input type="submit" value="connect">
    </form>


    {{if .}}
    Success to connect the device!!!
    {{end}}
</body>
</html>