<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Favorite Fruit</title>
</head>
<body>
<ul>
    <!-- access the field of struct with its name -->
    <li>{{.Name}} - {{.Color}}</li>
</ul>
</body>
</html>