<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    <!-- assign variable -->
    {{$x := .Name}}
    {{$y := .Color}}
    <li>{{$x}} -  {{$y}}</li>
</ul>
</body>
</html>